h1 {
    text-align: center;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.input-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.input-box {
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
